// Brand Color
$brand-color: #ff5d56;

// Background Color
$background-color-1: #212428;
$background-color-2: linear-gradient(145deg, #1e2024, #23272b);
$background-color-3: #222;
$background-color-4: #333;
$background-color-5: linear-gradient(to right bottom, #212428, #16181c);
$background-color-6: #191b1e;
$rgbabackground-color-1: rgba(0, 0, 0, 0.85);
$rgbaborder-color-1: rgba(255, 255, 255, 0.1);
$hover-color-1: #555;
$border-color-1: #444;
// Text Color
$text-color-1: #c4cfde;
$text-color-2: #eee;
$text-color-3: rgba(198, 201, 216, 0.75);
